/* Write your CSS Here. */
#imageContainer {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 200px;
    top: 200px;
}

#resetContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}